In [69]:
import pandas as pd
import matplotlib.pyplot as plt
import json
from sklearn.svm import SVC 
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split

In [70]:
file1=pd.read_csv("encodedData.csv")
file1.head()

   duration  kills  placed         map   landed_name  0  ...  32  33  34  35  36  37
0   1189.68      7     1.0  olympus.s8       Gardens  0  ...   0   0   0   0   0   0
1    681.19      0     4.0  olympus.s8   Solar Array  0  ...   0   1   0   0   0   0
2    639.15      2     7.0  olympus.s8   Solar Array  0  ...   0   1   0   0   0   0
3    133.47      0    14.0  olympus.s8  Hammond Labs  0  ...   0   0   0   0   0   0
4    239.60      2    12.0  olympus.s8       Gardens  0  ...   0   0   0   0   0   0

[5 rows x 43 columns]

In [71]:
file1=file1.drop("map", axis=1)
file1=file1.drop("landed_name", axis=1)
file1.describe()

           duration         kills  ...            36            37
count  18234.000000  18234.000000  ...  18234.000000  18234.000000
mean     385.689095      0.909345  ...      0.000219      0.002687
std      310.674149      1.571722  ...      0.014810      0.051771
min       30.810000      0.000000  ...      0.000000      0.000000
25%      137.330000      0.000000  ...      0.000000      0.000000
50%      275.475000      0.000000  ...      0.000000      0.000000
75%      551.060000      1.000000  ...      0.000000      0.000000
max     2111.740000     24.000000  ...      1.000000      1.000000

[8 rows x 41 columns]

In [72]:
'''
list2=file1.index
for i in list2:
  if file1[i]==12 or file1[i]==24 or file1[i]==14 or file1[i]==21 or file1[i]==15:
'''
i = file1[( ( file1.kills == 12) | (file1.kills == 24) | (file1.kills == 14) | (file1.kills == 21) | (file1.kills == 15) )].index
file1=file1.drop(i)

In [73]:
target_name='kills'
data_target = file1[target_name]
data = file1.drop([target_name], axis = 1)

In [74]:
imputer = SimpleImputer(strategy="median") 



kills_num_pipeline = Pipeline([
        ('imputer', SimpleImputer(strategy="median")),
        ('std_scaler', StandardScaler()),
    ])

kills_num_tr = kills_num_pipeline.fit_transform(data)
kills_numerical_features = list(data)
#patient_categorical_features = ["id","neighbourhood_group","neighbourhood","room_type"]

full_pipeline = ColumnTransformer([
        ("num", kills_num_pipeline, kills_numerical_features),
        #("cat", OneHotEncoder(), patient_categorical_features),
    ])

kills_prepared = full_pipeline.fit_transform(data)

In [75]:
train, test, target, target_test = train_test_split(kills_prepared, data_target, test_size = 0.2, random_state = 30)

In [76]:
print(target[0:25])

12685    2
9631     8
6797     2
8424     0
5821     6
6506     0
12593    1
10210    1
11401    2
9023     0
15098    0
10552    3
6265     0
4066     0
10421    1
6529     3
17505    3
7034     4
8123     1
9397     1
1804     0
16085    0
11355    0
8056     2
8417     1
Name: kills, dtype: int64

In [77]:
print(target)

12685    2
9631     8
6797     2
8424     0
5821     6
        ..
500      7
12092    0
15292    8
4525     0
5934     2
Name: kills, Length: 14573, dtype: int64

In [68]:
X=train
y=target
# Oversample with SMOTE and random undersample for imbalanced dataset

from imblearn.over_sampling import SMOTE

'''
# define dataset
#X, y = make_classification(n_samples=10000, n_features=2, n_redundant=0,
#	n_clusters_per_class=1, weights=[0.99], flip_y=0, random_state=1)
# summarize class distribution
counter = Counter(y)
print(counter)

# define pipeline
over = SMOTE(sampling_strategy=0.1)
#under = RandomUnderSampler(sampling_strategy=0.5)
steps = [('o', over)]
pipeline = Pipeline(steps=steps)
# transform the dataset
X, y = pipeline.fit_resample(X, y)
# summarize the new class distribution
counter = Counter(y)
print(counter)
# scatter plot of examples by class label


'''
smote=SMOTE("minority")
X,Y=smote.fit_resample(train,target)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [78]:
X,Y=smote.fit_resample(X,Y)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [79]:
cnt=0
for i in range(len(Y)):
  cnt+=1
print(cnt)
cn=0
for i in range(len(X)):
  cn+=1
print(cn)

31683
31683

In [80]:
print(Y[31650:31683])

[9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9]